

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
   
        <form method="post" action="/Note/Add">
            标题：<input type="text" id="Title" name="Title" />
            <br />
            <br />
            内容:<input type="text" id="Content" name="Content" />

            <button type="submit" class="btn">保存</button>
        </form>
   
</body>
</html>
